<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="author" content="沈维杰">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" href="./favicon.ico">
  <title>VOX Viewer</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r121/three.min.js"
    integrity="sha512-yNJzAsg5JyP91u+sLHlUDULMBd3hmEiVkYeeN1cQBKaLZ7EyT6oH2u5THNIRM2Fu6VKcZJv+F/QAp1h/qzy9Ow=="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/mdui@1.0.0/dist/js/mdui.min.js"
    integrity="sha384-aB8rnkAu/GBsQ1q6dwTySnlrrbhqDwrDnpVHR2Wgm8pWLbwUnzDcIROX3VvCbaK+"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mdui@1.0.0/dist/css/mdui.min.css"
    integrity="sha384-2PJ2u4NYg6jCNNpv3i1hK9AoAqODy6CdiC+gYiL2DVx+ku5wzJMFNdE3RoWfBIRP" crossorigin="anonymous" />
</head>

<body class="mdui-theme-primary-grey mdui-color-grey-200">
  <div id="common">
    <div class="mdui-toolbar mdui-color-grey-800 mdui-appbar-scroll-toolbar-hide mdui-shadow-4">
      <div style="width: 92%; margin: auto;">
        <span class="mdui-typo-title mdui-text-color-theme-50">VOX Viewer | 查看vox模型</span>
      </div>
    </div>

    <mdui-progress v-if="is_progressing"></mdui-progress>

    <div class="mdui-container mdui-color-theme-200 mdui-shadow-2">

      <div mdui-dialog="{target:'#mdui-dialog-voxel'}">
        <mdui-card v-for="(model, index) in vox_models" :key="index" :vox_model="model"></mdui-card>
      </div>

    </div>

    <div class="mdui-dialog" id="mdui-dialog-voxel" style="min-height: 92%;">
      <div class="mdui-dialog-content mdui-typo">
        <div class="mdui-dialog-title">{{ focus_on.name }}</div>
        <div id="vox"></div>
        <h4><i class="mdui-icon material-icons">person</i>{{ focus_on.author }}</h4>
        <hr>
        <p>{{ focus_on.description }}</p>

      </div>
      <div class="mdui-dialog-actions">
        <button class="mdui-btn mdui-ripple" @click="downloadVoxModel"><i
            class="mdui-icon material-icons mdui-icon-left">file_download</i>下载</button>
        <button class="mdui-btn mdui-ripple" mdui-dialog-close>关闭</button>
      </div>
    </div>

  </div>
  <script src="./lib/common/commonAPP.js" type="module"></script>
</body>

</html>